* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

body {
  background-color: #f5f5f5;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
  font-weight: 600;
  letter-spacing: 2px;
}

.active {
  color: #0062d3 !important;
}

.navbar-nav {
  gap: 1rem;
}

.nav-item a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 10px;
  width: 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out 0s;
}

.nav-item:hover a::after {
  width: 80%;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0 solid;
  border-right: 0 solid transparent;
  border-bottom: 0;
  border-left: 0 solid transparent;
}
.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #4e4e4e;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #0078ff;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 300px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

.collapse ul {
  list-style: none;
}

.collapse a {
  text-decoration: none;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
header h1 {
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
}

.navbar-brand {
  font-size: 28px;
}
.nav-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.bar-white {
  color: white;
  font-size: 1.5rem;
}

.navbar > ul > li > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.about {
  font-size: 1.25rem;
  font-weight: 300;
}
.about p {
  color: #4e4e4e;
}

.about h2 {
  position: relative;
}

.about h2::after {
  content: "";
  background-color: #0078ff;
  width: 90px;
  height: 3px;
  position: absolute;
  top: 120%;
  left: 50px;
  transform: translate(-50%, -50%);
}

.morgan-layer h4::after {
  content: "";
  animation: mymove 2s infinite alternate;
  color: white;
  font-size: 2rem;
}

@keyframes mymove {
  0% {
    content: "D";
  }
  20% {
    content: "De";
  }
  30% {
    content: "Dev";
  }
  40% {
    content: "Deve";
  }
  50% {
    content: "Devel";
  }
  60% {
    content: "Develo";
  }
  70% {
    content: "Develop";
  }
  80% {
    content: "Develope";
  }
  90% {
    content: "Developer";
  }
  100% {
    content: "Developer";
  }
  90% {
    content: "Develope";
  }
  80% {
    content: "Develop";
  }
  70% {
    content: "Develo";
  }
  60% {
    content: "Devel";
  }
  40% {
    content: "Deve";
  }
  30% {
    content: "Dev";
  }
  20% {
    content: "De";
  }
  0% {
    content: "D";
  }
}

.morgan span {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

.morgan {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.progress {
  background-color: #cde1f8;
  border-radius: 0px;
  height: 12px;
}

.head h2 {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

head p {
  color: #4e4e4e;
}

.services .col .bg-white {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.services .head {
  position: relative;
}

.services .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 2rem;
}

.services .head::after {
  content: "";
  background-color: #0078ff;
  width: 80px;
  height: 5px;
  position: absolute;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  height: 100px;
  width: 100px;
  font-size: 40px;
  padding: 20px;
  box-shadow: 0 0 0 10px #0078ff;
  border-radius: 50%;
  margin-block: 2rem;
  transition: all 0.3s ease-in-out 0.1s;
}
.services .col:hover .circle {
  color: white;
  background-color: #0078ff;
  box-shadow: 0 0 0 10px #0077ff46;
  transition: all 0.3s ease-in-out 0.1s;
}

.work .circle {
  height: 60px;
  width: 60px;
  font-size: 1.5rem;
  line-height: 1.5;
  box-shadow: 0 0 0 10px #cde1f8;
  transition: all 0.3s ease-in-out 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  min-height: 65vh;
  background-image: linear-gradient(#0077ff75, #0077ffd5),
    url(assets/post-3.jpg);
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.portfolio-head {
  position: relative;
}
.portfolio-head::after {
  content: "";
  background-color: #0078ff;
  width: 80px;
  height: 5px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-shadow {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.w-date {
  color: #0078ff;
}

.portfolio-content h4 {
  font-size: 1.2rem;
}
.portfolio-content {
  font-size: 0.8rem;
}
.portfolio-content i {
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  line-height: 1.5;
  border: 3px solid #0078ff;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-content a {
  text-decoration: none;
}

.portfolio-content img {
  object-fit: cover;
}

.info-arrange {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.info-a {
  padding-right: 20px;
  padding-top: 20px;
}

.main-shadow:hover img {
  transform: scale(1.3);
  transition-duration: 1s;
}

.main-shadow {
  vertical-align: middle;
  overflow: hidden;
}
.main-shadow img {
  transition-duration: 1s;
}

.xavi {
  max-height: 100vh;
  background-image: linear-gradient(#0077ff75, #0077ffd5),
    url(assets/overlay-bg.jpg);
  background-position: center;
  background-attachment: fixed;
}

.xavi img {
  width: 150px;
}

.img-xavi {
  padding-top: 5rem;
}

.img-xavi-2 {
  padding-top: 9rem;
}
.carousel {
  position: relative;
}

.carousel-inner {
  top: 50%;
}

.carousel-indicators [data-bs-target] {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: white;
}

.blog-head {
  position: relative;
}
.blog-head::after {
  content: "";
  background-color: #0078ff;
  width: 80px;
  height: 5px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-items {
  border-radius: 30px;
}
.blog-items a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  transition: all 0.7s;
  font-weight: 600;
}
.blog-items a:hover {
  color: #1172e8;
  transition: all 0.7s;
}

.blog-text {
  border: solid 1px rgb(206, 206, 206);
  background-color: white;
}

.blog-img {
  position: relative;
}
.blog-img span {
  position: absolute;
  left: 50%;
  top: 100%;
  color: white;
  padding: 0px;
  background: #1172e8;
  height: 23px;
  width: 70px;
  text-align: center;
  border-radius: 4px;
  font-size: 13px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.blog-items {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.blog-name {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: solid 1px rgb(206, 206, 206);
  border-top: 0;
  background-color: #f8f8f8;
}

.blog-name img {
  width: 35px;
  border-radius: 50%;
}
.blog-name i {
  letter-spacing: 1px;
}

.blog-name span {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  transition: all 0.7s;
  cursor: pointer;
}

.blog-name span:hover {
  color: #1172e8;
  transition: all 0.7s;
}

.blog-web span {
  position: absolute;
  left: 50%;
  top: 100%;
  color: white;
  padding: 0px;
  background: #1172e8;
  height: 23px;
  width: 90px;
  text-align: center;
  border-radius: 4px;
  font-size: 13px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.contact {
  background-image: linear-gradient(#0077ff75, #0077ffd5),
    url(assets/overlay-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content {
  background-color: white;
  margin-block: 40px;
}

.contact-lay {
  position: relative;
  margin-bottom: 3rem;
}
.contact-r h3::after {
  content: "";
  background-color: #0078ff;
  width: 80px;
  height: 3px;
  position: absolute;
  top: 120%;
  left: 0%;
}

.contact-left h3::after {
  content: "";
  background-color: #0078ff;
  width: 80px;
  height: 3px;
  position: absolute;
  top: 120%;
  left: 0%;
}

.contact-left .button {
  background: #0078ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  border: 3px solid #cfe2ff00;
}
.contact-left .button:hover {
  background: #54a2fc;
  border: 3px solid #cfe2ff;
}

.contact-icons i {
  color: #0078ff;
  padding-right: 15px;
}

.contact-r p {
  font-size: 1.25rem;
  font-weight: 300;
}

.contact-icons p {
  font-size: 1rem;
  font-weight: 400;
}

.contact-social div {
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  line-height: 1.5;
  border: 3px solid #0078ff;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.contact-social {
  display: flex;
  gap: 1rem;
}

.contact-social div:hover {
  background-color: #0078ff;
  color: white;
  border: 3px solid #cfe2ff;
  transition: all 0.3s ease-in-out 0.1s;
}
footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: #0062d3;
}

footer .credits a {
  color: #fff;
  text-decoration: none;
}

.img-porto {
  overflow: hidden;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0078ff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 20px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #298eff;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
}
